# Local Database
DATABASE_URL=""

POSTGRE_DB=""
POSTGRE_USER=""
POSTGRE_HOST=""
POSTGRE_PASSWORD=""
POSTGRE_PORT=

# Backend Component
BACKEND_PORT=

JWT_SECRET=""


THROTTLE_TTL=

# Midtrans Payments gateway
MIDTRANS_MERCHANT_ID=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_SERVER_KEY=""

MAIL_MAILER=""
MAIL_HOST=""
MAIL_PORT=""
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_ENCRYPTION=""
MAIL_FROM_ADDRESS=""
MAIL_FROM_NAME=""